@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

li,
button {
  transition: all 0.5s ease;
}

body {
  color: var(--foreground);
  font-family: var(--font-inter);
}

@theme {
  /* Colores */
  --color-destacado: #ff0000;
  /* Fuentes */
  --font-inter: "Inter", sans-serif;
  --font-gtWalsheimPro: "GT Walsheim Pro", sans-serif;
  --font-pixelify: "Pixelify Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-pixelifySans {
  font-family: var(--font-pixelifySans);
}

button {
  font-family: var(--font-pixelifySans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* sizing */

  --x-half: 2.5px;
  --x: 5px;
  --x2: 10px;
  --x3: 15px;
  --x4: 20px;
  --x5: 25px;
  --x6: 30px;
  --x7: 35px;
  --x8: 40px;
  --x9: 45px;
  --x10: 50px;
  --x11: 55px;
  --x12: 60px;
  --x13: 65px;
  --x14: 70px;
  --x15: 75px;
  --x16: 80px;
  --x17: 85px;
  --x18: 90px;
  --x19: 95px;
  --x20: 100px;
  --x25: 125px;
  --x30: 150px;
  --x40: 200px;

  /* scale */

  --scale--2: 14px;
  --scale--1: 16px;
  --scale-0: 18px;
  --scale-1: 20px;
  --scale-2: 23px;
  --scale-3: 26px;
  --scale-4: 29px;
  --scale-5: 32px;
  --scale-6: 36px;
  --scale-7: 41px;
  --scale-8: 46px;
  --scale-9: 52px;
  --scale-10: 58px;
  --scale-11: 66px;
  --scale-12: 74px;
  --scale-13: 83px;
  --scale-14: 94px;
  --scale-15: 105px;

  /* Tokens/Sizing */

  --space-2xs: var(--x-half);
  --space-xs: var(--x);
  --space-s: var(--x3);
  --space-m: var(--x6);
  --space-b: var(--x10);
  --space-xb: var(--x15);
  --space-2xb: var(--x30);

  --size-s: var(--x7);
  --size-m: var(--x10);
  --size-b: var(--x12);
  --size-xb: var(--x20);
  --size-2xb: var(--x30);

  /* Peso */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.heading-1 {
  font-weight: var(--weight-medium);
  font-size: var(--scale-14);
  line-height: var(--x19);
  letter-spacing: -4.5px;
  font-feature-settings: "kern", "liga", "ss01";
}

.heading-2 {
  font-weight: var(--weight-medium);
  font-size: var(--scale-11);
  line-height: var(--x14);
  letter-spacing: -2.5px;
  font-feature-settings: "kern", "liga", "ss01";
}

.heading-3 {
  font-weight: var(--weight-medium);
  font-size: var(--scale-7);
  line-height: var(--x9);
  letter-spacing: -1.25px;
  font-feature-settings: "kern", "liga", "ss01";
}

.heading-4 {
  font-weight: var(--weight-regular);
  font-size: var(--scale-3);
  line-height: var(--x7);
  letter-spacing: -1px;
  font-feature-settings: "kern", "liga", "ss01";
}

.heading-5 {
  font-weight: var(--weight-regular);
  font-size: var(--scale-1);
  line-height: var(--x6);
  letter-spacing: -0.5px;
  font-feature-settings: "kern", "liga", "ss01";
}

@media (max-width: 479px) {
  /* heading */
  .heading-1 {
    font-size: var(--scale-9);
    line-height: var(--x11);
    letter-spacing: -2.5px;
  }

  .heading-2 {
    font-size: var(--scale-6);
    line-height: var(--x8);
    letter-spacing: -1.5px;
  }

  .heading-3 {
    font-size: var(--scale-4);
    line-height: var(--x7);
    letter-spacing: -1.1px;
  }

  .heading-4 {
    font-size: var(--scale-1);
    line-height: var(--x5);
    letter-spacing: -0.25px;
  }

  .heading-5 {
    font-size: var(--scale-0);
    line-height: var(--x5);
    letter-spacing: -0.25px;
  }
}
